<html>
<head>
    {% block stylesheets %}

        <link href="{{ asset('bundles/user/css/main.css') }}" rel="stylesheet">
    {% endblock %}

</head>

<body>
<div>
    <div>
        User Registration
    </div>

    <div class="registration_form">
        <form name="regform" method="post">
            <div>
                <input name="email" id="email" type="text" placeholder="email address" value="{{ email }}" >
                {% if email_error is defined %}
                    <div class="error">
                        {{ email_error }}
                    </div>
                {% endif %}
            </div>

            <div>
                <input name="password" type="password" placeholder="password" >
                {% if password_error is defined %}
                    <div class="error">
                        {{ password_error }}
                    </div>
                {% endif %}
            </div>

            <div>
                <input name="password2" type="password" placeholder="repeat" >
                {% if password2_error is defined %}
                    <div class="error">
                        {{ password2_error }}
                    </div>
                {% endif %}
            </div>

            <div align="right">
                <button name="register_form">Register!</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>