<html>
{% block head %}
    {{ include('SilninShareTellDashboardBundle:Default:base.html.twig') }}
{% endblock %}

<body>

Welcome to the Storytime, traveller.

{% if joined_stories is not empty %}
<h1>Joined Stories</h1>
<ul>
    {% for joined_story in joined_stories %}
        <li><a href="{{ path('silnin_share_tell_dashboard_play_story', { 'reference': joined_story.reference }) }}">{{ joined_story.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
    You haven't joined any stories yet. Wat are you waiting for? Start word-jamming!<br/>
    <a href="/story/new">Start a new story!</a>
{% endif %}
<br/><br/>

{% if public_stories is not empty %}
<h1>Other Stories</h1>
<ul>
    {% for public_story in public_stories %}
        <li><a href="{{ path('silnin_share_tell_frontpage_read_story', { 'reference': public_story.reference }) }}">{{ public_story.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
    Alas! There currently aren't any public stories available to join. Maybe you should create one?<br/>
{% endif %}

<br />
<a href="{{ path('silnin_share_tell_dashboard_create_story') }}">Start a new story!</a>

</body>
</html>