<html>
<head>
    <style>
        /* Tooltip container */
        .tooltip {
            position: relative;
            display: inline-block;
            border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
        }

        /* Tooltip text */
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 120px;
            background-color: black;
            color: #fff;
            text-align: center;
            padding: 5px 0;
            border-radius: 6px;

            /* Position the tooltip text - see examples below! */
            position: absolute;
            z-index: 1;
        }

        /* Show the tooltip text when you mouse over the tooltip container */
        .tooltip:hover .tooltiptext {
            visibility: visible;
        }
    </style>

    <script type="application/javascript">

        var storyReference;
        var title;

        function setup()
        {
            title = "{{ story.title }}";
            storyReference = "{{ story.reference }}";
            showTitle();
        }

        /**
         * @param value
         */
        function editTitle(value)
        {
            title = value;
            updateStoryProperty('title', value);
            showEditableTitle();
        }

        /**
         * @param property
         * @param value
         */
        function updateStoryProperty(property, value)
        {
            var data = {};
            data[property] = value;

            var body = JSON.stringify(data);
            var url = "/story/" + storyReference;
            var method = "PUT";

            sendRest(url, body, method);
        }

        /**
         * @param url string
         * @param body string
         * @param method string
         */
        function sendRest(url, body, method)
        {
            var client = new XMLHttpRequest();
            client.open(method, url, true);
            client.setRequestHeader("Content-Type", "application/json");
            client.onload = function (e) {
                if (client.readyState === 4) {
                    if (client.status === 200) {
                        var result = JSON.parse(client.response);
                    } else {
                        console.error(client.statusText);
                        alert("Could not update!");
                    }
                }
            };
            client.onerror = function (e) {
                console.error(client.statusText);
                alert("Could not update!");
            };

            client.send(body);
        }

        function showUneditableTitle()
        {
            document.getElementById("storyTitleBlock").innerHTML = "<h1>" + title + "</h1>";
        }

        function showEditingTitle()
        {
            document.getElementById("storyTitleBlock").innerHTML = "<input type=\"text\" name=\"title_edit\" id=\"title_edit\" value=\"" + title + "\" onchange='editTitle(this.value);' onfocusout='showEditableTitle();'>";
            document.getElementById("title_edit").focus();
        }

        function showEditableTitle()
        {
            document.getElementById("storyTitleBlock").innerHTML = "<h1><a onclick=\"showEditingTitle()\">" + title + "</a></h1>";
        }

        function showTitle()
        {
            if ("{{ story.creator.id }}" == "{{ me.id }}") {
                showEditableTitle();
                return;
            }

            showUneditableTitle();
        }

    </script>
</head>
<body onload="setup()">

<div class="storyTitle" id="storyTitleBlock">
</div>

<div>
    <div class="contribution">
        {% for contribution in contributions %}
            <div class="tooltip">{{ contribution.content }}
                <span class="tooltiptext">Added by {{ contribution.author.username }}</span>
            </div>
        {% endfor %}
    </div>
</div>

{% if turn.id == me.id %}
    <div>
        <form action=" {{ path('silnin_share_tell_dashboard_submit_contribute', { 'reference': story.reference }) }}" method="post" name="contributeForm">
            <input type="textarea" name="contribution" >
            <input type="submit" value="share and tell!" >
        </form>
    </div>
{% else %}
    <div>
        {{ turn.username }} is now pondering how this story will continue ...
    </div>
{% endif %}

<div>
    <h2>Participants</h2>
    <ul>
        {% for participant in participants %}
            <li><a href="/profile/{{ participant.id }}">{{ participant.user.username }}</a></li>
        {% endfor %}
    </ul>
</div>

</body>
</html>
